/* Misc */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #F9F9F3;
}

p {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 29px;
  text-align: center;
  font-size: 16px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 20px;;
}

span {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

/* Loader */

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B99B66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s;
  opacity: 1;
  background-image: url('/assets/scroll.png');
  background-repeat: no-repeat;
  background-position: center;
}

.loader-heading {
  height: 100px;
}

.loader-text {
  width: 620px;
}

.loader p {
  color: #000000;
}

.loader img {
  width: auto;
  height: 100px;
}

#play-btn {
  background-color: transparent;
}

.loader-button {
  height: 50px;
  width: 180px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #000000;
  margin: 20px;
}

/* Audio Wrapper */

.twoCol {
  display: flex;
  flex-direction: row;
  max-height: 100px
}

.twoCol-text {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.twoCol-audio {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.twoCol-audio img {
  height: 24px;
  width: 24px;
}

.twoCol-audio button {
  border: none;
  background-color: #000000;
}

/* Heading Wrapper */

.heading-wrapper {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.heading img {
  height: 80px;
}

/* Controls Wrapper */

.controls-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  padding-right: 30px;
  border: 1px solid lightgrey;
}

.controls-wrapper img {
  height: 40px;
  width: 40px;
}

.controls-wrapper h2 {
  margin-left: 30px;
}

.controls-wrapper p {
  margin-left: 20px;
  color: #000000;
  text-align: left;
}

.border-bottom {
  border: 1px solid lightgrey;
  margin-left: 20px;
}

.score {
  display: flex;
  margin-bottom: 40px;
}

.heros {
  display: flex;
}



/* Grid Layout */

.wrapper-container {
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-image: url('../assets/background-image.jpg');
  background-size: cover;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.link {
  background-image: url('../assets/link.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.zelda {
  background-image: url('../assets/zelda.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.gannon {
  background-image: url('../assets/gannon.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.robot {
  background-image: url('../assets/robot.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.bonus {
  background-image: url('../assets/bonus.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.zeldaLink {
  background-image: url('../assets/zelda-link.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Win */

.win {
  position: fixed;
  z-index: 99;
  top: 19%;
  left: 37%;
  width: 660px;
  height: 40%;
  background-color: #B99B66;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s;
  opacity: 0;
  box-shadow: 2px 5px 5px gray;
}

.win-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.win h2 {
  color: #ffffff;
  text-align: center;
}

.win-button {
  height: 50px;
  width: 180px;
  background-color: #B99B66;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #ffffff;
  margin: 20px;
}

/* Loose */

.loose {
  position: fixed;
  z-index: 99;
  top: 19%;
  left: 37%;
  width: 660px;
  height: 40%;
  background-color: #722f4b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s;
  opacity: 0;
  box-shadow: 2px 5px 5px gray;
}

.loose-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.loose h2 {
  color: #ffffff;
  text-align: center;
}

.loose-button {
  height: 50px;
  width: 180px;
  background-color: #722f4b;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #ffffff;
  margin: 20px;
}